@import 'rupture'
@import "variable/_function.styl"
@import "variable/_ie.styl"
@import "icon/sprite.css"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/_elements.styl"
@import "variable/_constant.styl"
@import "variable/_grid.styl"

rupture.scale = 0 480px 768px 992px 1200px
rupture.scale-names = 'xs' 'sm' 'md' 'lg'

// Grid breakpoints
$breakpoints = {
	'xs' :  0,
	'sm' : 480px,
	'md' : 768px,
	'lg' : 992px,
	'xl' : 1200px
}

// Number of columns
$columns = 12

init($breakpoints, $columns)

body
	@extend .type--main
	font-family $v-font
	color $main-text-color
	line-height 1.2
	letter-spacing 0.01em
	
.main-cont
	center(1200px,10px)

.incr
	f()
	height 40px
	position relative
	width 160px
.incr__nav
	flex(mid)
	tr(background )
	round()
	size 40px
	border 1px solid #dddddd
	background white
	.icon
		size 14px
		fill #b3b3b3
	&:hover
		cp()
		background-color yellow
		border 0
		.icon
			fill black
	&:active
		background-color #ea0000
.incr__val
	flex(mid)
	background white
	size 50px 40px
	font-size 20px
	position relative
	tr(all)

//increment-end


@keyframes bounceIn {
	from {
			transform: scale3d(1, 1, 1);
	}

	50% {
			transform: scale3d(1.05, 1.05, 1.05);
	}
	to {
			transform: scale3d(1, 1, 1);
	}
	//
	//from {
  //  opacity: 0;
  //  transform: translate3d(0, -100%, 0);
  //}
	//
  //to {
  //  opacity: 1;
  //  transform: none;
  //}
}

.bounceIn
	animation-name: bounceIn


.cont-item-small
	+below(768px)
		fw()
		margin-top: 30px
		margin-bottom: 0px
		.item
			width: 100%!important
			margin-bottom: 20px
	margin-top: 80px
	f()
	justify-content: space-between
	align-items: stretch
	margin-bottom: 20px
	.item
		width: 32%

.item
	+below(768px)
		padding: 15px
	padding: 25px
	padding-bottom: 60px
	border-radius 10px
	border 2px solid #f8f8f8
	background-color #ffffff
	tr(all)
	&:hover
		border 2px solid #e6e6e6
		.item__img-el
			tr(all)
			transform scale(0.8)

.item__img
	+below(768px)
		height: 80px
		margin-bottom: 20px
	height: 150px
	margin-bottom: 40px
	flex(mid)
	img
		margin: 0 auto
		tr(all)
		width: 100%

.item__img-el
	width: 100%
	height: 100%
	bg-full()
	background-size:contain

.item__title
	@extend .type--lg
	font-weight: 900
	text-align: center
	text-transform: uppercase
	margin-bottom: 20px
	font-family "PF Beau Sans Pro"

.item__text
	text-align: center
	width: 70%
	margin: 0 auto

.box
	border-radius 10px
	border 2px solid #f8f8f8
	background-color #ffffff

.offer
	+below(768px)
		flex(between)
		fl()
	f()
	fw()
	@extend .box
	padding: 20px
	margin-bottom: 20px
	justify-content: space-between

.offer-img
	+below(768px)
		width: 70%
		margin-bottom: 20px
	flex(mid)
	width: 45%

.offer-info
	+below(768px)
		width: 100%
	flex(mid)
	flex-flow: column
	width: 55%

.offer-title
	@extend .type--lg
	up()
	font-weight: 900
	margin-bottom: 20px
	font-family "PF Beau Sans Pro"

.offer-text
	+below(768px)
		width: 90%
	width: 70%
	opacity 0.8
	text-align: center

.main-kind
	+below(768px)
		fw()
		margin-bottom: 30px
	flex(between)
	margin-bottom: 50px

.kind-el
	+below(768px)
		width: calc(50% + 2px)
		br(0)
		margin-left: -2px
		margin-top: -2px
		padding: 20px
	@extend .box
	width: 24%
	tr(all)
	padding: 40px 20px
	&:hover
		border 2px solid #e6e6e6
		.kind-img-el
			tr(all)
			width: 90%

.kind-img
	+below(768px)
		height: 60px
	flex(mid)
	width: 100%
	height: 130px
	margin-bottom: 30px


.kind-img-el
	width: 100%
	height: 100%
	bg-full()
	background-size: contain


.kind-title
	+below(768px)
		font-size: 12px
	@extend .type--lg
	up()
	text-align: center
	font-weight: 900
	font-family "PF Beau Sans Pro"

.block-sale-wrap
	background-color #f9f9f9

.block-sale
	+below(768px)
		fw()
		padding: 20px  0
	flex(between)
	padding: 35px 0
	.owl-dots
		width 100%
		flex(mid)
		margin-top 20px
		position relative
		z-index 2000
	.owl-dot
		round()
		margin 5px
		size 8px
		background-color #000000
		opacity 0.2
	.owl-dot.active
		background #322f40
		opacity 1

.block-sale__slider
	+below(768px)
		width: 100%
		margin-bottom: 20px
	width: 35%

.block-sale__el
	padding: 10px
	box-shadow 0 15px 32px rgba(0, 0, 0, 0.02)
	border-radius 10px
	background: white

.block-sale__info
	+below(768px)
		width: 100%
	width: 50%

.block-sale__title
	+below(768px)
		text-align: center
	@extend .type--xl
	up()
	font-family "PF Beau Sans Pro"
	margin-bottom: 30px

.block-sale__text
	+below(768px)
		text-align: center
		width: 100%
	line-height: 1.8
	width: 90%

.menu-type
	+below(768px)
		display: none
	flex(around)
	padding: 30px 0
	border-bottom:1px solid #f0f0f0

.menu-type__el
	@extend .type--md
	color #7b7b7b
	font-weight: 500
	tr(all)
	&:hover
		color black

.menu-type__el-active
	color black

.filter-title
	+below(768px)
		padding: 10px 0
	flex(between)
	padding: 35px 0
	border-bottom:1px solid #f0f0f0

.filter-title__arrow
	.icon
		+below(768px)
			size 35px
		size 50px
		fill black
		tr(all)
		opacity .2
		&:hover
			opacity 1

.filter-title__name
	@extend .type--xl
	font-family "PF Beau Sans Pro"

.filter-title__setting
	.icon
		+below(768px)
			size 35px
		tr(all)
		cp()
		size 50px
		fill black
		opacity .2
		&:hover
			opacity 1

.filter
	display: none

.filter-check
	f()
	justify-content: space-between
	fw()
	border-bottom:1px solid #e2e2e2
	.sytle-input-text
		width: 70%

.filter-name
	@extend .type--lg
	font-family "PF Beau Sans Pro"
	margin-bottom: 20px
	padding: 20px 0

.filter-check__el
	+below(1024px)
		width: 32%
		font-size: 11px
	+below(640px)
		width: 48%
		font-size: 10px
	margin-bottom: 20px
	width: 24%

.filter-ingr
	f()
	fw()

.filter-ingr__el
	+below(768px)
		padding: 10px!important
		font-size: 11px
		flex-grow 1
		text-align: center
	cp()
	tr(background)
	margin-right: 10px
	padding: 10px 30px
	border-radius 25px
	border 1px solid #cdcdcd
	background-color rgba(255, 255, 255, 0)
	margin-bottom: 15px
	&:hover
		+above(769px)
			background: yellow
			border 1px solid yellow

.filter-ingr__el--active
	background: yellow
	padding: 11px 31px
	border 0
	+below(768px)
		padding: 11px!important

.filter-footer
	+below(768px)
		padding-top: 20px
		fw()
		flex(mid)
		fl()
	f()
	align-items: center
	justify-content: flex-end
	padding-top: 60px

.filter-footer__reset
	+below(768px)
		width: 100%
		text-align: center
		margin-right: 0
		margin-bottom: 20px
	margin-right: 20px
	cp()

.filter-title__setting--active
	.icon
		fill black
		opacity 1

.product-wrap
	.product-el
		width: 32%

.card
	+below(768px)
		fw()
		margin-top: 20px
	f()
	margin-top: 40px
	justify-content: space-between

.card-img
	+below(768px)
		width: 100%
		flex(mid)
		margin-bottom: 20px
	width: 35%

.card-img__el
	+below(768px)
		width: 55%
		padding: 30%
	position: relative
	width: 100%
	padding: 54%
	bg-full()
	cp()
	round()
	overflow hidden

.card-img__text
	position: absolute
	bottom: 0px
	width: 100%
	background: rgba(0, 0, 0, 0.5)
	z-index 5
	left: 0
	text-align: center
	padding: 20px 0
	color white
	line-height: 1.6

.card-info
	+below(1024px)
		width: 55%
	+below(768px)
		width: 100%
	width: 50%

.card__title
	+below(768px)
		text-align: center
		margin-bottom: 20px
		span
			display: block
			text-align: center
			width: 100%
	up()
	@extend .type--xl
	font-family "PF Beau Sans Pro"
	margin-bottom: 50px
	position: relative
	f()
	align-items: center
	.icon
		+below(768px)
			display: none
		size 50px
		opacity .6
		position: absolute
		left: -70px
		top 5px
		
.card-tag
	+below(768px)
		flex(mid)
		margin-bottom: 20px
	f()
	fw()
	margin-bottom: 40px

.card-tag__el
	+below(768px)
		flex-grow 1
	margin-right: 15px
	margin-bottom: 15px
	padding: 10px 20px
	text-align: center
	br(20px)

.card-tag__el-def
	background: #f4f4f4

.card-tag__el-add
	flex(mid)
	cp()
	border 1px solid #a9a9a9
	.icon
		margin-left: 10px
		size 10px

.card-tag-plus
	padding: 0!important
	margin-bottom: 15px
	+below(768px)
		width: 100%

.card-tag-plus__wrap
	flex(mid)
	round()
	cp()
	tr(all)
	size 40px
	background: yellow
	&:hover
		background: light-yellow
	.icon
		size 14px

.card-type
	+below(768px)
		margin-bottom: 20px
	border-radius 10px
	border 1px solid #c9c9c9
	margin-bottom: 50px

.card-type__wrap
	flex(between)
.card-type__el
	flex(mid)
	padding: 20px
	width: 50%
	opacity 0.6
	border-bottom:1px solid #c9c9c9
	cp()
	.icon
		size 30px
		margin-right: 10px
		opacity 0.6
.card-type__el--active
	opacity 1
	border-bottom:1px solid yellow
	.icon
		opacity 1

.card-type__text
	font-size: 18px
	font-weight: 500

.card-size
	flex(mid)
	padding: 30px 0

.card-size__el
	+below(768px)
		size 50px
	round()
	flex(mid)
	fl()
	fw()
	tr(background)
	size 60px
	border: 2px solid #c9c9c9;
	background-color: rgba(252, 202, 3, 0);
	margin-right: 20px
	&:last-child
		margin-right: 0
	&:hover
		opacity: 1
		background: red
		border 0
		cp()
		.card-size__val
			color white
			opacity: 1
		.card-size__type
			color white
			opacity: 1

.card-size__el--active
	opacity: 1
	background: red
	border 0
	.card-size__val
		color white
		opacity: 1
	.card-size__type
		color white
		opacity: 1

.card-size__val
	@extend .type--md
	font-family: "PF Beau Sans Pro";
	color black
	opacity .6

.card-size__type
	color black
	opacity .6

.card-total
	+below(768px)
		fw()
		margin-bottom: 0
	flex(mid)
	margin-bottom: 30px

.card-total__info
	+below(768px)
		margin-right: 0
		width: 100%
		margin-bottom: 20px
	flex(mid)
	@extend .type--md
	font-weight 500
	margin-right: 40px

.card-total__divider
	width: 1px
	height: 20px
	background: #dadada
	margin: 0 15px
//.card-total__get

.sale-content-wrap
	+below(768px)
		padding: 20px 0
	padding: 50px 0 30px 0
	bgi('sale-bg.jpg')
	bg-full()
//.main-cont

.sale-content
	flex(mid)
	fw()
	fw()

.sale-content__el
	+below(768px)
		width: 100%
		margin-right: 0
		padding: 10px
	padding: 20px
	width: 30%
	border-right: 10px
	background: white
	margin-right: 20px
	margin-bottom: 20px
	br(10px)

.title-row
	+below(768px)
		padding: 15px 0
		margin-bottom: 30px
	@extend .type--xl
	text-align: center
	padding: 45px 0
	position: relative
	font-family "PF Beau Sans Pro"
	border-bottom:1px solid #dedede
	margin-bottom: 50px
	.icon
		+below(768px)
			size 25px
			margin-top: 3 px
		tr(all)
		size 50px
		opacity .2
		left: 0
		position: absolute
		margin-top: 10px
		&:hover
			opacity 1

.part
	+below(1024px)
		fw()
	f()
	justify-content: space-between
	align-items:streth

.part-cont
	+below(1024px)
		width: 100%
		//order 2
	width: 50%
	//order 1

.part-row
	+below(1024px)
		flex(mid)
		fl()
		height: auto
		padding: 10px
		.card-size
			padding: 10px 0
	flex(between)
	border-radius 40px
	border 1px solid #c9c9c9
	background-color #ffffff
	padding: 20px 30px
	margin-bottom: 20px
	height: 80px

.part-title
	+below(1024px)
		width: 100%
		text-align: center
	@extend .type--md
	font-weight: 500
	width: 30%

.part-info
	+below(1024px)
		width: 100%
	width: 70%

.part-weight
	f()
	justify-content: center

.part-weight-el
	cp()
	flex(mid)
	width: 50%
	opacity .6
	tr(all)
	.icon
		size 30px
		margin-right: 20px

.part-weight-el--active
	opacity 1

.souse
	+below(1024px)
		padding: 10px 0
	flex(between)

.souse__el
	flex(mid)
	align-items: center
	width: 50%

.souse__el--active
	.souse__name
		opacity 1

.souse__type
	round()
	size 25px
	margin-right: 20px

.souse__type--red
	background: red

.souse__name
	font-weight: 500
	opacity .6
	cp()

.souse__type--green
	background: green

.title-foundation
	@extend .type--md
	font-weight: 500
	margin-top: 40px
	margin-bottom: 20px
	text-align: center

.foundation

	f()
	fw()
	margin-bottom: 35px

.part-ingr-title
	@extend .type--md
	font-weight: 500
	margin-top: 40px
	margin-bottom: 20px
	text-align: center

.part-ingr-cont
	+below(1024px)
		margin-bottom: 20px
	flex(between)
	background-color rgba(255, 196, 0, 0)
	height: 60px
	overflow hidden

.part-ingr-el
	flex-grow 1
	height: 100%
	flex(mid)
	tr(background)
	cp()
	font-weight 500
	&:hover
		background: #f0f0f0
	&:nth-child(1)
		border 1px solid #d2d2d2
		border-radius 30px 0px 0px 30px
	&:nth-child(2)
		border-top 1px solid #d2d2d2
		border-bottom 1px solid #d2d2d2
	&:nth-child(3)
		border 1px solid #d2d2d2
		border-radius 0px 30px 30px 0px

.part-ingr-el--active
	background: yellow!important
	border 0!important

.part-weight__title
	font-weight: 500

.part-img
	+below(1024px)
		width: 100%
		//order 1
		min-width auto
	min-width 480px
	width: 40%
	//order 2

.part-img__wrap
	padding: 20px
	border-radius 19px
	border 1px solid #ececec
	background: white
	z-index 5!important

.part-img__el
	width: 100%
	padding: 50% 0
	bg-full()
	background-size: contain


.ing-el
	width 44px!important
	height 44px!important
	border 1px solid $border-color
	br(4px)

.part-img__total
	@extend .type--md
	font-weight: 500
	text-align: center
	color rgba(0, 0, 0, 0.6)
	margin-bottom: 20px
	span
		color black

.part-img__get
	+below(768px)
		padding: 20px
		text-align: center
		width: 100%
	@extend .btn--lg
	@extend .btn--yellow
	width: 100%
	text-align: center
	margin-bottom: 20px

.part-img__reset
	@extend .link--text
	text-align: center
	cp()

.souse-cont
	f()
	fw()
	margin-bottom: 70px

.order
	+below(968px)
		fw()
	f()
	justify-content:space-between
	align-items streth

.order-cont
	+below(968px)
		width: 100%
		order 2
	width: 68%
	order 1

.order-info-wrap
	+below(968px)
		width: 100%
		order 1
		flex(mid)
		margin-bottom: 20px
	width: 30%
	order 2

.order-info
	+below(968px)
		width: 60%
	+below(768px)
		width: 100%
	border 1px solid #d3d3d3
	br(10px)
	background: white
	z-index 10!important
.order-item
	+below(768px)
		margin-bottom: 20px
	margin-bottom: 70px
	.basket__el-info
		+below(768px)
			width: 100%
		width: 55%
	.basket__el-change
		width: 45%


.basket__el
	width: 100%!important

.basket
	.slick-list
		min-height 184px!important
		+below(1024px)
			max-height auto!imprtant

.random-souse
	+below(768px)
		display: block
		text-align: center
	cp()
	@extend .link--blue

.order-text-souse
	+below(768px)
		margin-bottom: 20px
		text-align: center
	margin-bottom: 70px
	line-height: 1.6

.order-add
	f()
	fw()
	.product-el
		+below(768px)
			margin: 0
			width: 100%
		item(2,20px)


//.order-info-cont
.order-info-head
	padding: 45px 40px
	color black
	flex(mid)
	fl()
	fw()
	border-bottom 2px dashed #d3d3d3
.order-total-text
	text-align: center
	margin-bottom: 15px

.order-total-cost
	font-family "PF Beau Sans Pro"
	font-size 30px
	font-weight 900
	text-align: center
	margin-bottom: 30px

.order-total-get

	@extend .btn--lg
	@extend .btn--yellow
	padding: 20px
	width: 100%

.order-info-footer
	padding: 45px 40px
	flex(mid)
	fl()
	fw()
	.promo
		margin-bottom: 30px

	.promo-input
		background: none
		color white
.order-how
	tr(all)
	@extend .link--blue
	text-align: center
	display: block
	text-decoration: underline
	opacity 0.7
	&:hover
		opacity 1

.header__sub-arrow
	+below(1024px)
		display none
	flex(mid)
	cp()
	.icon
		size 20px

.basket-container
	width: 100%!important

.slick-arrow
	outline none

.input-row
	position: relative

.input-placeholder-val
	tr(all)
	position: absolute
	left 20px
	top 18px
	opacity 0.5

.input-animate
	display: inline-block
	z-index 20
	color black


.input-animate:focus+span,
.input-animate[data-empty="false"] + span
	top 3px
	font-size: 10px

.modal-open
	overflow: hidden
	overflow-x: hidden
	overflow-y: scroll
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 100%

.modal-fix
	overflow: hidden
	overflow-x: hidden
	overflow-y: scroll
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 100%

.animate-basket
	animation: bounceIn 0.3s 2 ease-in-out

.title-row-back
	cp()

//mobile slide menu
#mobile-menu
	+above(768px)
		display none!important
	margin-top 54px
	background white
	border-top 1px solid #e6e6e6
	//display none!important
#mobile-menu:not( .mm-menu )
	display: none;
.mobile-menu-el
	padding 10px 0!important
	display inline-block
	color black
	font-size 16px
	font-weight 600
	.header__sub-menu__el
		width 100%
		f()
.mm-listview>li:not(.mm-divider):after
	left 0
.mm-menu .mm-listview>li .mm-next:after,
.mm-menu .mm-btn:after, .mm-menu .mm-btn:before
	border-color black
.mm-title
	color black!important
.mm-navbar
	background #efeeee
html.mm-opened
	overflow hidden

.mobile-menu-el--sub
	a:after, a:before
		border-color  #a5a4a4!important
	span,a
		color #a5a4a4!important

.header-mobile-togle
	.icon-close
		display none
.header-mobile-togle--open
	.icon-close
		display block
	.icon-open
		display none

.header__sub-arrow-wrap
	flex(mid)

.title-mobile
	+below(768px)
		text-align: center


.modal-component
	f()
	fw()
	width: 90%

.modal-component__el
	@extend .card-tag__el
	@extend .card-tag__el-add
	flex-grow 1

.part-img__name
	text-align: center
	margin-bottom: 10px

.part-editor
	f()
	justify-content: space-between
	align-items: center
	margin-bottom: 30px

.part-editor__left
	width: 45px
	//background: gray

.part-editor-img
	+below(768px)
		size 130px
		margin-top: 50px
	size 270px
	position: relative
	overflow: hidden
	round()

.part-editor-img__left
	position: absolute
	width: 50%
	height: 100%
	top 0
	left 0
	z-index 5
	cp()
	background-size: cover
	&:hover
		.part-editor__filter
			display: block
	.part-editor__filter
		left: 0

.part-editor-img__empty
	width: 100%
	height: 100%
	round()
	bg-full()
	background-size: 100% 100%
	position: absolute
	top 0
	left 0

.part-editor-img__right
	position: absolute
	width: 50%
	height: 100%
	top 0
	right 0
	z-index 5
	cp()
	background-position: right!important
	background-size: cover!important
	&:hover
		.part-editor__filter
			display: block
	.part-editor__filter
		right: 0

.part-editor__filter
	position: absolute
	top 0
	width: 100%
	height: 100%
	background: rgba(0, 0, 0, 0.64)
	z-index 6
	display: none

.part-editor__del
	display: none

.part-editor__right
	width: 45px

.part-editor__slider
	margin-top: 40px
	.slider-control
		size 24px
		transform translate(50%)
		cp()
	.slick-prev
		top 0px
		transform translate(12px,-100%) rotate(90deg)
		left: 0
		z-index 20
		background: none
	.slick-next
		top initial
		bottom 0
		right: 0
		transform translate(-12px,100%) rotate(90deg)
		background: none

@import "../module/**/*"
