@import 'rupture'
@import "variable/_function.styl"
@import "variable/_ie.styl"
@import "icon/sprite.css"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/_elements.styl"
@import "variable/_constant.styl"
@import "variable/_grid.styl"

rupture.scale = 0 480px 768px 992px 1200px
rupture.scale-names = 'xs' 'sm' 'md' 'lg'

// Grid breakpoints
$breakpoints = {
	'xs' :  0,
	'sm' : 480px,
	'md' : 768px,
	'lg' : 992px,
	'xl' : 1200px
}

// Number of columns
$columns = 12

init($breakpoints, $columns)

body
	@extend .type--main
	font-family $v-font
	color $main-text-color
	line-height 1.2
	letter-spacing 0.01em
	
.main-cont
	center(1200px,10px)

.incr
	f()
	height 40px
	position relative
	width 160px
.incr__nav
	flex(mid)
	tr(background )
	round()
	size 40px
	border 1px solid #dddddd
	background white
	.icon
		size 14px
		fill #b3b3b3
	&:hover
		cp()
		background-color yellow
		border 0
		.icon
			fill black
	&:active
		background-color #ea0000
.incr__val
	flex(mid)
	background white
	size 50px 40px
	font-size 20px
	position relative
	tr(all)

//increment-end


@keyframes bounceIn {
	from {
			transform: scale3d(1, 1, 1);
	}

	50% {
			transform: scale3d(1.05, 1.05, 1.05);
	}
	to {
			transform: scale3d(1, 1, 1);
	}
	//
	//from {
  //  opacity: 0;
  //  transform: translate3d(0, -100%, 0);
  //}
	//
  //to {
  //  opacity: 1;
  //  transform: none;
  //}
}

.bounceIn
	animation-name: bounceIn


.cont-item-small
	margin-top: 80px
	flex(between)
	margin-bottom: 20px
	.item
		width: 32%

.item
	padding: 25px
	padding-bottom: 60px
	border-radius 10px
	border 2px solid #f8f8f8
	background-color #ffffff
	tr(all)
	&:hover
		border 2px solid #e6e6e6
		.item__img-el
			tr(all)
			width: 90%

.item__img
	height: 150px
	margin-bottom: 40px
	flex(mid)
	img
		margin: 0 auto
		tr(all)
		width: 100%

.item__img-el
	width: 100%
	height: 100%
	bg-full()

.item__title
	@extend .type--lg
	font-weight: 900
	text-align: center
	text-transform: uppercase
	margin-bottom: 20px
	font-family "PF Beau Sans Pro"

.item__text
	text-align: center
	width: 70%
	margin: 0 auto

.box
	border-radius 10px
	border 2px solid #f8f8f8
	background-color #ffffff

.offer
	f()
	@extend .box
	padding: 20px
	margin-bottom: 20px
	justify-content: space-between

.offer-img
	flex(mid)
	width: 45%

.offer-info
	flex(mid)
	flex-flow: column
	width: 55%

.offer-title
	@extend .type--lg
	up()
	font-weight: 900
	margin-bottom: 20px
	font-family "PF Beau Sans Pro"

.offer-text
	width: 70%
	opacity 0.8
	text-align: center

.main-kind
	flex(between)
	margin-bottom: 50px
	.kind-el
		width: 24%

.kind-el
	@extend .box
	tr(all)
	padding: 40px 20px
	&:hover
		border 2px solid #e6e6e6
		.kind-img-el
			tr(all)
			width: 90%

.kind-img
	flex(mid)
	width: 100%
	height: 130px
	margin-bottom: 30px


.kind-img-el
	width: 100%
	height: 100%
	bg-full()
	background-size: contain


.kind-title
	@extend .type--lg
	up()
	text-align: center
	font-weight: 900
	font-family "PF Beau Sans Pro"

.block-sale-wrap
	background-color #f9f9f9

.block-sale
	flex(between)
	padding: 35px 0
	.owl-dots
		width 100%
		flex(mid)
		margin-top 20px
		position relative
		z-index 2000
	.owl-dot
		round()
		margin 5px
		size 8px
		background-color #000000
		opacity 0.2
	.owl-dot.active
		background #322f40
		opacity 1

.block-sale__slider
	width: 35%

.block-sale__el
	padding: 10px
	box-shadow 0 15px 32px rgba(0, 0, 0, 0.02)
	border-radius 10px
	background: white

.block-sale__info
	width: 50%

.block-sale__title
	@extend .type--xl
	up()
	font-family "PF Beau Sans Pro"
	margin-bottom: 30px

.block-sale__text
	line-height: 1.8
	width: 90%

.menu-type
	flex(around)
	padding: 30px 0
	border-bottom:1px solid #f0f0f0

.menu-type__el
	@extend .type--md
	color #7b7b7b
	font-weight: 500
	tr(all)
	&:hover
		color black

.menu-type__el-active
	color black

.filter-title
	flex(between)
	padding: 35px 0
	border-bottom:1px solid #f0f0f0

.filter-title__arrow
	.icon
		size 50px
		fill black
		tr(all)
		opacity .2
		&:hover
			opacity 1

.filter-title__name
	@extend .type--xl
	font-family "PF Beau Sans Pro"

.filter-title__setting
	.icon
		tr(all)
		cp()
		size 50px
		fill black
		opacity .2
		&:hover
			opacity 1

.filter
	display: none

.filter-check
	flex(between)
	fw()
	border-bottom:1px solid #e2e2e2

.filter-name
	@extend .type--lg
	font-family "PF Beau Sans Pro"
	margin-bottom: 20px
	padding: 20px 0

.filter-check__el
	margin-bottom: 20px
	width: 24%

.filter-ingr
	f()
	fw()

.filter-ingr__el
	cp()
	tr(background)
	margin-right: 10px
	padding: 10px 30px
	border-radius 25px
	border 1px solid #cdcdcd
	background-color rgba(255, 255, 255, 0)
	margin-bottom: 15px
	&:hover
		background: yellow
		padding: 11px 31px
		border 0

.filter-ingr__el--active
	background: yellow
	padding: 11px 31px
	border 0

.filter-footer
	f()
	align-items: center
	justify-content: flex-end
	padding-top: 60px

.filter-footer__reset
	margin-right: 20px

.filter-footer__reset
	cp()

.filter-title__setting--active
	.icon
		fill black
		opacity 1

.product-wrap
	.product-el
		width: 32%

.card
	f()
	margin-top: 40px
	justify-content: space-between

.card-img
	width: 35%

.card-img__el
	position: relative
	width: 100%
	padding: 54%
	bg-full()
	cp()
	round()
	overflow hidden

.card-img__text
	position: absolute
	bottom: 0px
	width: 100%
	background: rgba(0, 0, 0, 0.5)
	z-index 5
	left: 0
	text-align: center
	padding: 20px 0
	color white
	line-height: 1.6

.card-info
	width: 50%

.card__title
	up()
	@extend .type--xl
	font-family "PF Beau Sans Pro"
	margin-bottom: 40px
	position: relative
	f()
	align-items: center
	line-height: 40px
	.icon
		size 50px
		opacity .6
		position: absolute
		left: -70px
		top 0
.card-tag
	f()
	fw()
	margin-bottom: 40px

.card-tag__el
	margin-right: 15px
	margin-bottom: 15px
	padding: 10px 20px
	br(20px)

.card-tag__el-def
	background: #f4f4f4

.card-tag__el-add
	flex(mid)
	cp()
	border 1px solid #a9a9a9
	.icon
		margin-left: 10px
		size 10px

.card-tag-plus
	flex(mid)
	round()
	cp()
	tr(all)
	size 40px
	background: yellow
	&:hover
		background: light-yellow
	.icon
		size 14px

.card-type
	border-radius 10px
	border 1px solid #c9c9c9
	margin-bottom: 50px

.card-type__wrap
	flex(between)
.card-type__el
	flex(mid)
	padding: 20px
	width: 50%
	opacity 0.6
	border-bottom:1px solid #c9c9c9
	cp()
	.icon
		size 30px
		margin-right: 10px
		opacity 0.6
.card-type__el--active
	opacity 1
	border-bottom:1px solid yellow
	.icon
		opacity 1

.card-type__text
	font-size: 18px
	font-weight: 500

.card-size
	flex(mid)
	padding: 30px 0

.card-size__el
	round()
	flex(mid)
	fl()
	fw()
	tr(background)
	size 60px
	border: 2px solid #c9c9c9;
	background-color: rgba(252, 202, 3, 0);
	margin-right: 20px
	&:last-child
		margin-right: 0
	&:hover
		opacity: 1
		background: red
		border 0
		cp()
		.card-size__val
			color white
			opacity: 1
		.card-size__type
			color white
			opacity: 1

.card-size__el--active
	opacity: 1
	background: red
	border 0
	.card-size__val
		color white
		opacity: 1
	.card-size__type
		color white
		opacity: 1

.card-size__val
	@extend .type--md
	font-family: "PF Beau Sans Pro";
	color black
	opacity .6

.card-size__type
	color black
	opacity .6

.card-total
	flex(mid)
	margin-bottom: 30px

.card-total__info
	flex(mid)
	@extend .type--md
	font-weight 500
	margin-right: 40px

.card-total__divider
	width: 1px
	height: 20px
	background: #dadada
	margin: 0 15px
//.card-total__get

.sale-content-wrap
	padding: 50px 0 30px 0
	bgi('sale-bg.jpg')
	bg-full()
//.main-cont
.sale-content
	flex(mid)
	fw()
.sale-content__el
	padding: 20px
	width: 30%
	border-right: 10px
	background: white
	margin-right: 20px
	margin-bottom: 20px
	br(10px)
@import "../module/**/*"
