include block_html/_style.pug
include block_html/_include.pug

+header(page ="header--main-page")

.content
	.main-cont

		//item-small-cont
		.cont-item-small
			a(href="#").item
				.item__img
					.item__img-el(style="background-image:url('img/item-pizza-1.png')")
				.item__title Пицца
				.item__text Наши фирменный, большие и вкусные пиццы.

			a(href="#").item
				.item__img
					.item__img-el(style="background-image:url('img/item-pizza-2.png')")
				.item__title две половинки
				.item__text Создайте свою любимую пиццу из половинок

			a(href="#").item
				.item__img
					.item__img-el(style="background-image:url('img/item-pizza-2.png')")
				.item__title Конструктор
				.item__text Создайте свою любимую пиццу из половинок
		//item-small-cont-end

		//offer
		.offer
			.offer-img
				img(src="img/combo.png", alt="")
			.offer-info
				.offer-title Комбо
				.offer-text Соберите комбо по вкусу и получите бонусы. Выберите 1 бургер, 1 закуску и 1 напиток со скидкой до 20%
		//offer-end

		//main-kind
		.main-kind
			a(href="#").kind-el
				.kind-img
					.kind-img-el(style="background-image:url('img/snack.png')")
				.kind-title Закуски
			a(href="#").kind-el
				.kind-img
					.kind-img-el(style="background-image:url('img/salad.png')")
				.kind-title Салаты
			a(href="#").kind-el
				.kind-img
					.kind-img-el(style="background-image:url('img/desert.png')")
				.kind-title Десерты

			a(href="#").kind-el
				.kind-img
					.kind-img-el(style="background-image:url('img/drink.png')")
				.kind-title Напитки
		//main-kind-end

	//main-sale
	.block-sale-wrap
		.main-cont
			.block-sale
				.block-sale__slider.owl-carousel
					- for (var i=1;i<5;i++)
						.block-sale__el
							img(src="img/item-sale-"+i+".jpg", alt="")
				.block-sale__info
					.block-sale__title Акции
					.block-sale__text Выбрав акцию, укажите промо код данной акции в комментариях к заказу или сообщите оператору при подтверждении заказа. Итоговую стоимость заказа с учетом скидки вам сообщит оператор при подтверждении заказа.
	//main-sale-end
+footer()
+modal()

include ./block_html/_script.pug
