include block_html/_style.pug
include block_html/_include.pug

+header()
.content
	.main-cont
		.title-row
			.title-row-back
				+icon("round-arrow-left","icon")
			span Оформление заказа

+footer()
+modal()

include ./block_html/_script.pug
