include block_html/_style.pug
include block_html/_include.pug

.small-header
	+header()
.content
	.main-cont
		.title-row
			.title-row-back
				+icon("round-arrow-left","icon")
			span Две половинки
		.part
			.part-cont
				.part-row
					.part-title Тесто
					.part-info
						.part-weight
							.part-weight-el.part-weight-el--active(data-size="fat")
								.part-weight__icon
									+icon("fat","icon")
								.part-weight__title Толстое
							.part-weight-el(data-size="thin")
								.part-weight__icon
									+icon("thin","icon")
								.part-weight__title Тонкое
				.part-row
					.part-title Размер
					.part-info
						.product-size-wrap.product-size-wrap--thin(data-size="thin")
							.card-size
								.card-size__el.size-disable
									.card-size__val 25
									.card-size__type см
								.card-size__el.card-size__el--active
									.card-size__val 31
									.card-size__type см
								.card-size__el
									.card-size__val 36
									.card-size__type см
								.card-size__el
									.card-size__val 40
									.card-size__type см
						.product-size-wrap(data-size="fat")
							.card-size
								.card-size__el.card-size__el--active
									.card-size__val 25
									.card-size__type см
								-
									var items = [
									'31',
									'36',
									'40'
									];
								each item in items
									.card-size__el
										.card-size__val #{item}
										.card-size__type см
				.part-row
					.part-title Соус
					.part-info
						.souse
							.souse__el.souse__el--active
								.souse__type.souse__type--red
								.souse__name Красный
							.souse__el
								.souse__type.souse__type--green
								.souse__name Зеленый

				.title-foundation Выберите 2 основы
				.foundation
					- for (var i=0;i<5;i++)
						+foundation()
					+foundation(type='foundation__el--default')
				.part-ingr-title Добавить ингредиенты
				.part-ingr-cont.modal-get(data-modal="ingr")
					.part-ingr-el На левую
					.part-ingr-el На всю
					.part-ingr-el На правую

			.part-img
				.part-img__wrap
					.part-img__name Тонкое тесто - 36 см - красный соус

					.part-editor
						.part-editor__left
							.ing-row.part-editor__slider
								- for (var i=0;i<6;i++)
									.ing-el__wrap
										.ing-el
						.part-editor-img
							.part-editor-img__left
								.part-editor__filter
									.part-editor__remove.part-editor__remove--left
										+icon("close","icon")
							.part-editor-img__empty(style="background-image:url('img/pillow.png')")
							.part-editor-img__right
								.part-editor__filter
									.part-editor__remove.part-editor__remove--right
										+icon("close","icon")
						.part-editor__right
							.ing-row.part-editor__slider
								- for (var i=0;i<6;i++)
									.ing-el__wrap
										.ing-el
					//.ing-row
					//	- for (var i=0;i<6;i++)
					//		.ing-el
					.part-img__total итого:
						span 476г./400 р.
					.part-img__message.part-img__message--need Выберите две основы
					.part-img__message.part-img__message--need-one Выберите еще одну основу
					a(href="#").part-img__get в корзину
					.part-img__reset Сбросить
+footer()
+mobile-menu()
+modal()

include ./block_html/_script.pug
