.item-incr
	+below(1024px)
		margin: 0
		item(3,20px)
		&:nth-child(4)
			margin-right: 20px!important
	+below(640px)
		&:nth-child(4)
			margin-right: 0px!important
		margin: 0!important
		margin-top: -1px !important
		margin-left: -1px !important
		width: 100%
		padding: 15px
	padding: 20px
	padding-bottom: 40px
	border 1px solid #f6f6f6
	item(4,20px)
.item-incr__title
	text-align: center

.item-incr__img
	height: 80px
	bg-full()
	background-size: contain
	margin-bottom: 20px
.item-incr__cost
	text-align: center
	margin-bottom: 20px
//.item-incr__row
.elements-icr-block
	.incr
		flex(mid)
		width: 100%
	width: 100%
