mixin item-incr()
	//block item-incr
	.item-incr
		.item-incr__title Соус Барбекю
		.item-incr__img(style="background-image:url('img/sauce.png')")
		.item-incr__cost 24 Р.
		.item-incr__row
			+incr('0')
	//block item-incr end