//.footer-wrap
//.main-cont
.footer
	background: white

.footer-top
	padding: 35px 0
	f()
	justify-content: center

.footer-top__el
	width: 25%
	padding: 35px 50px 50px 20px
	line-height: 1.6
	border-left: 1px solid #f0f0f0
	&:nth-child(1)
		padding-left: 0
		border: 0

//.link--blue
.footer-bottom-wrap
	border-top:1px solid  #f0f0f0

.footer-bottom
	f()
	padding: 50px 0
	justify-content: space-between

.footer-bottom__copy
	width: 18%

.footer-bottom__copy-text
	margin-bottom:30px

.footer-bottom__copy-link
	@extend .link--text

.footer-menu
	width: 50%

.footer-menu__col
	f()
	fw()
	justify-content: space-between

.footer-menu__el
	@extend .link--text
	width: 30%
	margin-bottom: 20px

.footer-info
	width: 20%

.footer-pay
	f()
	align-items: center
	padding-bottom: 30px
	margin-bottom: 30px
	border-bottom:1px solid #f0f0f0

.footer-pay__icon
	margin-right: 25px
	background: yellow
	round()
	size 50px
	flex(mid)
	.icon
		size 30px
//.footer-pay__text

//.footer-call
.footer-phone
	@extend .type--md
	display: inline-block
	margin-bottom: 10px

.footer-callback
	@extend .link--blue
	cp()
