-
	pages = [
		{
		'name':'Элементы',
		'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
		'name':'Каталог',
		'href':'catalog'
		},
		{
		'name':'Карточка',
		'href':'card'
		},
		{
		'name':'Половинки',
		'href':'part'
		},
		{
		'name':'Заказ',
		'href':'order'
		}
	]

