include ../../module/header/_header.pug
include ../../module/footer/_footer.pug
include ../../module/product/_product.pug
include ../../module/foundation/_foundation.pug
include ../../module/item-incr/_item-incr.pug
