//build:js js/combined.js
script(src='bower/jquery/dist/jquery.js')
script(src='bower/owl.carousel/dist/owl.carousel.min.js')
script(src='bower/svg4everybody/dist/svg4everybody.js')
script(src='bower/slick-carousel/slick/slick.js')
script(src="js/jquery.smoothscroll.js")
script(src="bower/jQuery.mmenu/dist/js/jquery.mmenu.all.min.umd.js")
script(src="bower/jquery-sticky/jquery.sticky.js")
// endbuild
script(src="js/script.js")
script(src="js/script-edit.js")

</body>
</html>