mixin foundation()
	//block foundation
	.foundation__el(class=attributes.type data-foundation="foundation-one.png")
		.foundation__el-lock
		.foundation__el-close
			+icon("close","icon")
		.foundation__img
			.foundation__img-el(style="background-image:url('img/item-pizza-1.png')")
		.foundation__name Рокки Роутс
		.foundation__info
			| 365 г.
			span /
			| 480 р.

	//block foundation end