mixin header()
	//block header
	.header(class=attributes.page)
		//header-top
		.header-top-wrap
			.main-cont
				.header-top
					.header-top__nav
						.header-top__loc
							.header-top__loc-icon
								+icon("map","icon")
							.header-top__loc-town.modal-get(data-modal="town") Тольятти
					.header-top__nav-wrap
						a(href="#").header-top__nav-el Доставка
						a(href="#").header-top__nav-el Отзывы
						a(href="#").header-top__nav-el О нас
						a(href="#").header-top__nav-el Контакты
					.header-top__auth
						.header-top__auth-el.header-top__auth-enter.modal-get(data-modal="enter") Вход
						.header-top__auth-divider
						.header-top__auth-el.header-top__auth-regist.modal-get(data-modal="registration") Регистрация
		//header-top-end

		//header-main
		.header-main-wrap
			.main-cont
				.header-main
					a(href="#").header-main__logo
						img(src="img/logo.svg", alt="")
					.header-info__wrap
						.header-info
							.header-info__icon
								+icon("phone","icon")
							.header-info__cont
								a(href="tel:8 800 333 86 63").header-info__phone 8 800 333 86 63
								.header-info__callback Обратный звонок
						.header-info
							.header-info__icon
								+icon("time","icon")
							.header-info__cont
								.header-info__text Работаем
								.header-info__text с 11:00 до 23:00!
					.header-nav
						.header-menu
							.header-menu__cont
								+icon("menu","icon icon-menu")
								+icon("close","icon icon-menu-close")
								span Меню
						.header-cart
							+icon("cart","icon icon-cart")
							+icon("close","icon icon-menu-close")
							.header-cart__val 12

			//heade-sub-menu
			.header-menu-sub-wrap
				.main-cont
					.header-menu-sub
						.header-menu-sub-coner
						a(href="#").header-menu-sub__el.header-menu-sub__el--active Пицца
						-var items = ['Две половинки','Комбо','Закуски','Салаты','Десерты','Напитки'];
						each item in items
							a(href="#").header-menu-sub__el #{item}

			//header-basket
			.basket-wrap
				.main-cont
					.basket

						.basket-wrap-coner
						.header__sub-arrow-up.header__sub-arrow
							.header__sub-arrow-wrap
								+icon("arrow-up","icon")
						.basket-container
							- for (var i=0;i<2;i++)
								.basket__el
									.basket__el-info
										.basket__img(style="background-image:url('img/item-pizza-1.png')")
										.basket__name
											.basket__name-text Малибу
										.basket__ingr
											- for (var j=0;j<4;j++)
												.basket__ingr-el(style="background-image:url('img/sauce.png')")
									.basket__el-change
										.basket__inc
											+incr()
										.basket__price 120 р.
										.basket__delete
											+icon("garbage","icon")
							- for (var i=0;i<2;i++)
								.basket__el
									.basket__el-info
										.basket__img(style="background-image:url('img/item-pizza-1.png')")
										.basket__name
											.basket__name-text Малибу
									.basket__el-change
										.basket__inc
											+incr()
										.basket__price 120 р.
										.basket__delete
											+icon("garbage","icon")
						.header__sub-arrow-down.header__sub-arrow
							.header__sub-arrow-wrap
								+icon("arrow-down","icon")
						//basket-footer
						.basket-footer
							.basket-total-text Итого:
							.basket-total
								.basket-total-false 15 000 р.
								.basket-total-true 12 000 р.
							.basket-promo
								.promo
									input(type="text" placeholder="Промокод").promo-input
									.promo-get
										+icon("arrow-custom","icon")
							.basket-get
								a(href="#").btn--md.btn--yellow Оформить
	//block header end