.product-el
	border-radius 10px
	border 2px solid #f8f8f8
	background-color #ffffff
	tr(all)
	//cp()
	&:hover
		border 2px solid #e6e6e6
		.product__img-el
			tr(all)
			width: 90%

.product__img
	height: 150px
	margin-bottom: 40px
	flex(mid)
	img
		margin: 0 auto
		tr(all)
		width: 100%

.product__img-el
	width: 100%
	height: 100%
	bg-full()

.product__title
	@extend .type--lg
	font-weight: 900
	text-align: center
	text-transform: uppercase
	margin-bottom: 20px
	font-family "PF Beau Sans Pro"

.product__text
	text-align: center
	width: 90%
	margin: 0 auto
	opacity .8
	margin-bottom: 50px


.product-cont
	//flex(between)
	f()
	fw()
	margin-top: 30px
	align-items: stretch
	.product-el
		item(3,20px)


.product-front
	padding: 25px

.product-back
	display: none


.product-back__title
	@extend .type--lg
	up()
	font-family "PF Beau Sans Pro"
	padding: 40px 0
	text-align: center
	position: relative

.product-back__arrow
	flex(mid)
	round()
	position: absolute
	size 44px
	background: white
	left: 50%
	top 100%
	margin-left: -22px
	margin-top: -22px
	.icon
		size: 22px
		margin-top: 9px

.product-info
	background: red
	padding: 30px
	padding-top: 45px
	margin-bottom: 30px

.product-type
	flex(between)
	margin-bottom: 20px
//.product-thin

//.product-fat

.product-type__el
	flex(mid)
	width: 45%
	cp()
	&:hover
		.product-type__name
			opacity 1
		.product-type__icon
			.icon
				opacity 1

.product-type__icon
	margin-right: 10px
	.icon
		size: 36px
		fill white
		opacity .6


.product-type__name
	font-size: 16px
	opacity .6
	color white
	font-weight:500

.product-type--active
	.product-type__name
		opacity 1
	.product-type__icon
		.icon
			opacity 1

.product-type-condition
	margin-bottom: 20px

.product-type-condition-row
	height: 5px;
	border-radius: 2px;
	background-color: #a70a13;
	position: relative
.product-type-condition-el
	tr(all)
	position: absolute
	height: 100%
	width: 50%
	top 0
	left: 0
	background: yellow
	border-radius: 2px;

.product-size
	flex(between)
	margin: 30px 0

.product-size__el
	round()
	flex(mid)
	fl()
	fw()
	tr(all)
	cp()
	size 60px
	border: 2px solid #ffffff;
	background-color: rgba(252, 202, 3, 0);
	opacity: 0.6;
	&:hover
		opacity: 1
		background: yellow
		border 0
		.product-size__val
			color black
		.product-size__type
			color black

.product-size__el--active
	opacity: 1
	background: yellow
	border 0
	.product-size__val
		color black
	.product-size__type
		color black

.product-size__val
	@extend .type--md
	font-family: "PF Beau Sans Pro";
	color white

.product-size__type
	color white

.product-width
	text-align: center
	color white
	font-size: 18px
	opacity .6

.product-footer
	flex(between)
	padding: 0 25px 50px 25px

.product-price
	@extend .type--md
	width: 50%
	text-align: center
	padding: 15px 20px
	border-radius 30px 0px 0px 30px
	border 1px solid #d6d6d6
	border-right: 0
	background-color #ffffff
	font-family "PF Beau Sans Pro"

.product-get
	//display: none
	cp()
	@extend .type--md
	tr(all)
	width: 50%
	text-align: center
	padding: 16px 20px
	border-radius 0px 30px 30px 0px
	background: yellow
	font-family "PF Beau Sans Pro"
	&:hover
		background: light-yellow

.product-add
	display: none
	cp()
	@extend .type--md
	tr(all)
	width: 50%
	text-align: center
	padding: 16px 20px
	border-radius 0px 30px 30px 0px
	background: yellow
	font-family "PF Beau Sans Pro"
	&:hover
		background: light-yellow

.product-incr
	flex(mid)
	width: 50%
	border-radius: 0px 30px 30px 0px
	border: 1px solid #d6d6d6
	border-left:2px solid white
	padding: 7px 20px
	display: none
	.incr
		width: auto

.product-footer-numb
	.product-price
		border-right: 0
	.product-incr
		display: flex
	.product-get
		display: none

.product-size-wrap--thin
	display: none

.size-disable
	opacity .2
	pointer-events none
	&:hover
		cursor none

//.elements-icr-block
